{{ $useDefault := true }}
{{ $homepageImage := "" }}
{{ with .Site.Params.defaultBackgroundImage }}
  {{ if or (strings.HasPrefix . "http:") (strings.HasPrefix . "https:") }}
    {{ $homepageImage = resources.GetRemote . }}
  {{ else }}
    {{ $homepageImage = resources.Get . }}
  {{ end }}
{{ end }}
{{ with .Site.Params.homepage.homepageImage }}
  {{ if or (strings.HasPrefix . "http:") (strings.HasPrefix . "https:") }}
    {{ $homepageImage = resources.GetRemote . }}
    {{ $useDefault = false }}
  {{ else }}
    {{ $homepageImage = resources.Get . }}
    {{ $useDefault = false }}
  {{ end }}
{{ end }}

<div class="relative">
  <div class="fixed inset-x-0 top-0 -z-10">
    {{ if $homepageImage }}
      {{ $style := "" }}
      {{ $defaultPosition := cond $useDefault site.Params.imagePosition false }}
      {{ with $.Params.imagePosition | default $defaultPosition }}
        {{ $style = printf "object-position: %s;" . }}
      {{ end }}
      <img
        id="background-image"
        class="nozoom mt-0 mr-0 mb-0 ml-0 h-[1000px] w-full object-cover"
        src="{{ $homepageImage.RelPermalink }}"
        role="presentation"
        {{ if $style }}style="{{ $style | safeCSS }}"{{ end }}>
      <div
        class="from-neutral absolute inset-0 h-[1000px] bg-gradient-to-t to-transparent mix-blend-normal dark:from-neutral-800"></div>
      <div
        class="from-neutral absolute inset-0 h-[1000px] bg-gradient-to-t to-neutral-100 opacity-60 mix-blend-normal dark:from-neutral-800 dark:to-neutral-800"></div>
    {{ end }}
  </div>

  <div class="relative">
    {{ partial "home/profile.html" . }}
  </div>
</div>

{{ if .Site.Params.homepage.layoutBackgroundBlur | default false }}
  <div
    id="background-blur"
    class="fixed opacity-0 inset-x-0 top-0 h-full single_hero_background nozoom backdrop-blur-xl bg-neutral-100/75 dark:bg-neutral-800/60"></div>
  {{ $backgroundBlur := resources.Get "js/background-blur.js" }}
  {{ $backgroundBlur = $backgroundBlur | resources.Minify | resources.Fingerprint (.Site.Params.fingerprintAlgorithm | default "sha512") }}
  <script
    type="text/javascript"
    src="{{ $backgroundBlur.RelPermalink }}"
    integrity="{{ $backgroundBlur.Data.Integrity }}"
    data-blur-id="background-blur"
    data-image-id="background-image"
    {{ if $homepageImage }}data-image-url="{{ $homepageImage.RelPermalink }}"{{ end }}></script>
{{ end }}
